* {
    margin: 0;
    padding: 0;
    --container-left-size: 35%;
    --container-right-size: calc(100vw - var(--container-left-size));
    --background-gray: #ECEEEF;
    --logo-banner-background: rgb(255, 255, 255, 0.75);
    --container-left-gray-overlay: rgb(161, 167, 170, .30);
    --logo-image-blue: #1081e0;
    --dark-blue: #095695;
}

body {
    height: 100vh;
    display: flex;
}

.container-left {
    width: var(--container-left-size);
    background-image: url("images/seonghak-hong-h-BxnAy_5WE-unsplash.jpg");
    background-position: top;
    background-size: auto 140vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo, .footer {
    background-color: var(--container-left-gray-overlay);
}

.logo {
    flex: 1;
    padding-top: 25%;
}

.logo-img {
    height: 60px;
    padding-right: 5px;
}
.logo-text {
    background-color: var(--logo-banner-background);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 50px;
    color: #434545;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.footer {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.container-right {
    width: var(--container-right-size);
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
}

.hero-one {
    padding-bottom: 25px;
}

.hero-two {
    padding-bottom: 50px;
}

.wrapper-hero {
    padding-bottom: var(--hero-submit-button-padding);
}

.wrapper-submit {
    padding-top: var(--hero-submit-button-padding);
}

.hero:last-child {
    padding-bottom: 100px;
}

form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

/* container-right padding*/
.hero, .form-content, .form-submit {
    padding: 0 100px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}
.form-content, .form-submit {
    flex: 1;
}

.hero, .form-submit {
    background-color: var(--background-gray);
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
}

.form-row {
    display: flex;
    gap: 50px;
    flex: 1;
}

.form-item {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

input  {
    width: 200px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    border-color: var(--logo-image-blue);
    outline: 0;
}


.form-submit {
    padding-top: 35px;
}

button {
    padding: 10px 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--logo-image-blue);
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

button:hover {
    background-color: #095695;
    cursor: pointer;
}

.footer>a {
    color: white;
}

p>a {
    text-decoration: none;
    color: var(--logo-image-blue);
    font-weight: 700;
}

p>a:hover {
    color: #095695;
}

.wrapper-submit>p {
    font-size: 16px;
}
